/* .register-form {
    background-color: #06542c;
    color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.register-form h3 {
    padding-top: 10px;
}

.register-form input {
    border-radius: 20px;
    height: 20px;
    border: 1px solid #06542c;
}

.register-form input:focus {
    border: 1px solid #06542c;
    outline: none !important;
}

.register-form input:focus::placeholder {
    color: transparent !important;
    transition: 0.2s ease-in;
    
}

.register-form input::placeholder {
    text-align: center;
} */

.custom-field {
    position: relative;
    font-size:  14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearence: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
}   

.custom-field input:focus::placeholder {
    color: transparent;
}

.custom-field input::placeholder {
    color: #222;
    transition: color 0.3s ease ;
}

.custom-field .placeholder {
    height: 18px;
    position: absolute;
    left: 12px;
    top: 80%;
    transform: translateY(-50%);
    color: #aaa;
    transition : 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease,

}
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 5px;
    font-size: 10px;
    color: #222;
    
}

.createButton {
    outline: none;
    border: 1px solid #06542c;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.2rem;
    position: relative;
    margin: 32px;
    background: #06542c;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.createButton::after, .createButton::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #06542c;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease ;
}

.createButton {
    transform: translate(-12px, -12px);
}

.createButton:hover {
    cursor: pointer;
}

.createButton::after {
    transform: translate(6px, 6px);
}

.createButton:hover::before {
    transform: translate(12px, 12px);
}
